.nada{
    background-color: black;
    box-shadow: cadetblue;
    size: 5px;
}
.titulo{
    color: goldenrod;
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;

}
.titulo2{
    color: rgb(42, 118, 121);
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;

}

   